@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* we are only using neutral colors from oklch color space for whole website */

:root {
  --text-primary: oklch(37.1% 0 0); /* 700 */
  --text-secondry: oklch(97% 0 0); /* 200 */
  --bg-background: oklch(98% 0 0); /* 100 */
  --shadow-color: 0 0 5px 0 oklch(26.848% 0.00627 34.067 / 0.075);
  --text-accent: oklch(55.6% 0 0); /* 500 */
  --text-accent-dark: oklch(45.6% 0 0); /* 600 */
}

.dark {
  --text-primary: oklch(92.2% 0 0); /* 200 */
  --text-secondry: oklch(26.9% 0 0); /* 800 */
  --bg-background: oklch(14.5% 0 0); /* 900 */
  --shadow-color: 0 0 5px 0 oklch(100% 0 0 / 0.075);
  --text-accent: oklch(70.8% 0 0); /* 400 */
  --text-accent-dark: oklch(80.8% 0 0); /* 300 */
}

@theme inline {
  --color-primary: var(--text-primary);
  --color-background: var(--bg-background);
  --color-secondary: var(--text-secondry);
  --shadow-color: var(--shadow-color);
  --color-accent: var(--text-accent);
  --color-accent-dark: var(--text-accent-dark);
}

body {
  @apply bg-background text-primary;
}
